     <%= form_tag 'students/login',class:'form-signin',role:'form' do %>
        <h2 class="form-signin-heading">請登入</h2>
        <%= text_field_tag 'no', nil, placeholder:'請輸入學號', class:'form-control',required:true,autofocus:true %>
        <br />
        <%= password_field_tag 'password', nil, placeholder:'請輸入身分證字號', class:'form-control',required:true %>
        <br />
        </label>
        <%= submit_tag "登入", class:'btn btn-lg btn-primary btn-block' %>
     <% end %>
